@using (Html.BeginForm("ListPartial", "Attendance", FormMethod.Post, new { role = "Attendance" }))
{
    <section class="content-header">
        <h1>
            @ViewData["Title"]
            <small>@ViewData["Message"]</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Atendimento</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ReschedulingOrigin">Tipo de data</label>
                                <select name="TypeDate" asp-items="ViewBag.listTypeDate" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="BeginDate">Data Início</label>
                                <input type="date" class="form-control" id="BeginDate" name="BeginDate" value="@(string.Format("{0:yyyy-MM-dd}", ViewBag.BeginDate))">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="EndDate">Data Fim</label>
                                <input type="date" class="form-control" id="EndDate" name="EndDate" value="@(string.Format("{0:yyyy-MM-dd}", ViewBag.EndDate))">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button style="margin-top: 25px;" type="submit" formaction="ListPartial" class="btn btn-default col-md-12">
                                <span class="fa fa-filter"></span>&nbsp;Filtrar
                            </button>
                        </div>

                        <div class="col-md-2">
                            <div class="btn-group pull-right" style="margin-top: 25px;">
                                <a class="btn btn-primary" href="@Url.Action("Index", "Attendance")" id="BotaoCriar">
                                    <span class="fa fa-plus"></span>&nbsp;Adicionar
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="box-body">
                        <div class="col-sm-12">
                            <div id="listGrid" class="row">
                                @{
                                    await Html.RenderPartialAsync("ListPartial");
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        <script>
            $('#tableAttendance').DataTable({
                dom: 'B<"top col-md-3 pull-right"f>rt<"bottom"<"col-md-2 pull-left"l><"col-md-3"i><"col-md-7"p>><"clear">',
                buttons: [{
                    extend: "excel",
                    className: "btn-sm",
                    text: 'Excel',
                }],
                'iDisplayLength': 25,
                'paging': true,
                'responsive': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                "scrollX": true,
                'autoWidth': false,
                "oLanguage": {
                    "sLengthMenu": 'Mostrar <select><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> registros.',
                    "sSearch": "Pesquisar:",
                    "sInfo": "Exibindo (_START_ de _END_) do(s) _TOTAL_ registro(s).",
                    "sZeroRecords": "Nenhum registro encontrado.",
                    "oPaginate": {
                        "sLast": "Última Página",
                        "sFirst": "Primeira Página",
                        "sNext": "Próxima",
                        "sPrevious": "Anterior"
                    }
                }
            });

            $("#tableAttendance tbody").on("dblclick", function (event) {
                var id = this.cells[0].id;
                if (id != "")
                    window.location.href = "@Url.Action("Index", "Attendance")/" + id;
            });
        </script>
    }
}
